{% extends 'base.html' %}
{% block head %} <Title>To Do: List</Title> {% endblock %}

{% block body %}
<div class="content">

  {% if items|length < 1 %}
      <p>You have no to do's</1>
  {% else %}

    {% for item in items %}
      <p>
      <a href="/item/{{ item._id }}">{{ item.name }}</a> : {{ item.description }}  
      </p> 
    {% endfor %}

  {% endif %}
  <BR>
  <HR>
  <H3>Create New Entry</H3>
  <form action="/new" method="POST">
    <div class="input-group">
      <label for="taskName" >Task</span>
      <input type="text" class="form-control" id="taskName" name="taskName" placeholder="Task Name">
    </div>
    <div class="form-group">
      <label for="taskDescription">Description</label>
      <textarea class="form-control rounded-0" id="taskDescription" name="taskDescription" rows="3"placeholder="Description"></textarea>
    </div>         
    <button class="btn btn-success">
      Submit 
      <span class="glyphicon glyphicon-share-alt"></span> 
    </button>
  </form>
  
</div>
{% endblock %}
